<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/scss" href="../../assets/scss/style.scss">
	<title>Dev Academy</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>

<header class="menu"></header>

<section class="jumbotron">

	<h1>Aprenda o código da vida real</h1>

</section>

<section class="sobre_evento">

	<h2>Sobre o evento</h2>
	<p>Este evento vai explodir sua cabeça com tanto conhecimento! Você nunca mais será o mesmo!</p>

</section>

<section class="evento_atual">

	<div>logo</div>

	<div class="call_to_action">
		<h2>Evento muito legal de setembro</h2>
		<h4>Data:</h4> <p>15/09</p>
		<h4>Local:</h4> <p>Moip</p>

		<button>Inscreva-se</button>
	</div>

</section>

<section class="parceiros">

	<div class="labels">
		<h2>Parceiros</h2>
	</div>

	<div class="carrossel_parceiros">
		<h3>Caellum</h3>
	</div>

</section>

<section class="evento_anterior">

	<div class="labels">
		<h2>Eventos anteriores</h2>
	</div>

	<div class="carrossel_eventos">
		<h3>Evento muito legal de setembro</h3>
		<h4>Data:</h4> <p>15/09</p>
		<h4>Local:</h4> <p>Moip</p>
	</div>

</section>

<section class="sobre_moip">

	<div class="about">
		<div>
			<h2>Sobre o Moip</h2>
			<p>Moip é uma solução de pagamentos multicanal que faz muito mais do que conectar sistemas. Faz parte da multinacional alemã Wirecard, o Moip cuida da fraude, da segurança de dados, dos contratos e de toda a burocracia para aceitar pagamentos online e também offline.
			Quer trabalhar aqui? <a href="https://moip.workable.com/" target="_blank">Veja nossas vagas!</a></p>
		</div>
		<div class="logo_moip"></div>
	</div>

</section>


<section class="contato">
	
	<div class="map"></div>
	<div class="contato">
		<h2>Contato</h2>
		<div>
			<p>Av. Brigadeiro Faria Lima, 3064<br>
				Itaim Bibi - SP, 12º andar <br>
				Email: moip-dev-academy@moip.com.br <br>
				Slack: <a href="https://join.slack.com/t/moip-dev-academy/signup" target="_blank"> moip-dev-academy.slack.com</a></p>
		</div>
	</div>

</section>

<footer>
	
	<div>
		<h5>Copyright 2018 Moip | All Rights Reserved</h5>
	</div>

</footer>

</body>
</html
